
header{
    padding: 24px 0;
    background-color: #181818;
}
header .container{
    max-width: 1200px;
    margin: auto;
    padding-left: 34px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 12px;
}
header nav ul li:last-of-type a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
.main_banner{
    height: calc(100vh - 82px);
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
}
.main_banner h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main_banner h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 0;
}
.main_banner p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.get_in_touch{
    padding-top: 113px;
    padding-bottom: 108px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    box-sizing: border-box;
}
.get_in_touch .container{
    max-width: 571px;
    margin: auto;
    text-align: center;
}
.get_in_touch h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.get_in_touch h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.button:before{
    content:"";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
    align-items: flex-end;
}
.information_block_1{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.information_block_2{
    background-image: url("../images/Palm.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.information_block_3{
    background-image: url("../images/winter_mountain.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.info_block_article{
    max-width: 298px;
    margin-right: 62px;
}
.info_block_article h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.info_block_article p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.widget_right_bottom{
    position:absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.widget_right_bottom li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.widget_right_bottom li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -7px;
}
.widget_right_bottom li:nth-child(2):before {
    background-image: url("../images/icon2.svg");
}
.widget_right_bottom li:nth-child(3):before {
    background-image: url("../images/icon3.svg");
    width: 32px;
    margin-right: 7px;
}
.widget_right_bottom li:last-of-type:before {
    background-image: url("../images/icon4.svg");
    width: 10px;
    margin-right: 5px;
}
.what_we_do{
    background-color: #000000;
    padding: 113px 0 84px;
}
.what_we_do h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_we_do .container{
    max-width: 1200px;
    margin: auto;
}
.what_we_do .article_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;
}
.what_we_do article{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do article img{
    display: block;
    width: 100%;
}
.what_we_do .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.description h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px
}
.description p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 15px;
}
.past_clients{
    background-color: #000000;
    padding: 113px 0 140px;
}
.past_clients .container{
    max-width: 1076px;
    margin: auto;
}
.past_clients h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.clients_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}